body {
    background-color: hsl(0, 0%, 0%);
}

.navbar-nav {
    margin-left: auto;

}

h3 {
    color: #ffff;
    text-align: center;

}



#cqs {
    text-align: center;


}


i {
    color: #ffff;
}

#cqs li {
    text-align: justify;

}